body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.text-section {
  max-width: 50%;
}

.text-section h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #dbd2d2;
}


.text-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 16px;
  line-height: 1.5;
}

.video-section iframe {
  max-width: 100%;
  height: auto;
}
.region-list {
  list-style: none;
  padding: 0;
}
.region-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #1b1a1a;
}
.region-list li:last-child {
  border-bottom: none;
}
.region-list li .region-number {
  font-size: 1.5rem;
  color: #0078D4; /* Blue color for the number */
  margin-right: 10px;
}
.region-list li .region-name {
  flex-grow: 1;
}
.region-list li .expand-icon {
  font-size: 1.2rem;
  cursor: pointer;
}
.container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: Add rounded corners */
}

.text-section {
  max-width: 50%;
  padding-left: 20px;
}

.text-section h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.text-section p {
  font-size: 16px;
  line-height: 1.5;
}
